#user  root;
worker_processes  1;
error_log  logs/error.log  info;
#error_log  logs/debug_stream.log  debug_stream;
error_log  logs/debug_http.log  debug_http;
#pid        logs/nginx.pid;

events {
    worker_connections  256;
}
http {
   log_format  main  '$remote_addr:$remote_port -> $server_addr:$server_port [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for"';
    access_log logs/access.log main;
    server {
        listen 8081;
        # status interface
        location /status_html {
            healthcheck_status html;
        } 
        
        location /status_json {
            healthcheck_status json;
        } 
    }
}

stream {
    upstream proxies {
        server 70.38.31.121:80;
        server 146.148.95.192:80;
        server 64.207.232.34:80;
        check interval=3000 rise=2 fall=5 timeout=5000 default_down=true type=tcp;
    }
    
    server {
        listen 8881;
        proxy_pass proxies;
    }
}
